@import "../../vendor/twbs/bootstrap/scss/variables";
@import "../../vendor/twbs/bootstrap/scss/mixins";

.heroslider {
    position: relative;

    .swiper {

        &-slide {

            align-items: center;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            min-height: 50vw;
            overflow: hidden;
            padding-bottom: 3rem;

            @include media-breakpoint-up(md) {
                min-height: 500px;
                padding-top: 3rem;
                flex-direction: row;
            }

            .container {
                z-index: 2;
                @include make-container();
                @include make-container-max-widths((md: 720px, lg: 960px, xl: 1140px));
                @include media-breakpoint-down(sm) {
                    padding: 0;
                }
            }

            &-background {
                background-size: cover;
                background-position: center;
                height: 62vw;
                width: 100vw;

                @include media-breakpoint-up(md) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: 100%;
                }
            }
        }

        &-content {

            padding: 2rem;
            background: black;
            color: #FFF;

            p:last-child {
                margin-bottom: 0;
            }

            @include media-breakpoint-up(lg) {
                max-width: 62%;
                background: rgba(black, 0.7);
            }
        }

        &-pagination {

            &-bullet {
                transition: all 200ms ease;
                background: black;
                @include media-breakpoint-up(md) {
                    background: white;
                }
                &-active {
                    transform: scale(1.2);
                }
            }
        }
    }

    &-gallery-content {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
    }
}